body {
  margin: 0px;
  background-color: #FFF1CF;
}
.joined_value {
  color: #FFE097;
}
.joined_label {
  color: #FF942B;
}
@media screen and (max-width: 1400px) {
  .joined_value {
    font-size: 66px;
  }
  .joined_label {
    font-size: 34px;
  }
}
@media screen and (max-width: 640px) {
  .joined_value {
    font-size: 26px;
  }
  .joined_label {
    font-size: 14px;
  }
}
@media screen and (max-width: 400px) {
  .joined_value {
    font-size: 22px;
  }
  .joined_label {
    font-size: 14px;
  }
}
@media screen and (max-width: 320px) {
  .joined_value {
    font-size: 22px;
  }
  .joined_label {
    font-size: 14px;
  }
}
.bg {
  width: 100%;
}
#button_mask {
  background: url(../imgs/lottery_btn.png) no-repeat;
  border: none;
  background-size: contain;
}
button:focus {
  outline: none;
}
