canvas {
  width: 100%;
  height: 100%;
}
.arrow {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 100;
}
.active .arrow {
  -webkit-animation: fadeOutUp 2s 0.5s ease-in-out infinite;
  -moz-animation: fadeOutUp 2s 0.5s ease-in-out infinite;
}
@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
  }
  30% {
    opacity: .6;
    -webkit-transform: translateY(-4px);
  }
  40% {
    opacity: 1;
    -webkit-transform: translateY(-4px);
  }
  80% {
    opacity: .8;
    -webkit-transform: translateY(-4px);
  }
  90% {
    opacity: .5;
    -webkit-transform: translateY(-10px);
  }
  95% {
    opacity: 0;
    -webkit-transform: translateY(-12px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-18px);
  }
}
#loading-img {
  position: absolute;
}
#loading-label {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  color: #ff6e00;
}
#p5-label {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 1em;
  color: #ff6e00;
}
.love-label {
  position: absolute;
  text-align: center;
  z-index: 100;
  font-size: 1em;
  color: #ff6e00;
}
#fullpage {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}
body {
  margin: 0px;
}
.section {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}
.slide {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
}
.video {
  position: absolute;
  left: 0px;
  top: 0px;
}
@media screen and (max-width: 2800px) {
  .field input {
    font-size: 88px;
  }
  .verify_text {
    font-size: 78px;
  }
}
@media screen and (max-width: 1400px) {
  .field input {
    font-size: 48px;
  }
  .verify_text {
    font-size: 38px;
  }
}
@media screen and (max-width: 640px) {
  .field input {
    font-size: 24px;
  }
  .verify_text {
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  .field input {
    font-size: 24px;
  }
  .verify_text {
    font-size: 18px;
  }
}
@media screen and (max-width: 320px) {
  .field input {
    font-size: 20px;
  }
}
#form {
  position: absolute;
}
.field input {
  background: transparent;
  border: 0;
  color: #ff6e00;
  width: 100%;
  height: 100%;
}
.knowpro {
  position: absolute;
  top: 0px;
}
