canvas {
  width: 100%;
  height: 100%;
}
.arrow {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 100;
}
.active .arrow {
  -webkit-animation: fadeOutUp 2s 0.5s ease-in-out infinite;
  -moz-animation: fadeOutUp 2s 0.5s ease-in-out infinite;
}
@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
  }
  30% {
    opacity: .6;
    -webkit-transform: translateY(-4px);
  }
  40% {
    opacity: 1;
    -webkit-transform: translateY(-4px);
  }
  80% {
    opacity: .8;
    -webkit-transform: translateY(-4px);
  }
  90% {
    opacity: .5;
    -webkit-transform: translateY(-10px);
  }
  95% {
    opacity: 0;
    -webkit-transform: translateY(-12px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-18px);
  }
}
#loading-img {
  position: absolute;
  left: 50%;
  margin-left: -233px;
  top: 50%;
  margin-top: -76.5px;
}
#loading-label {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  color: #ff6e00;
}
#p5-label {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 1em;
  color: #ff6e00;
}
#love-label {
  position: absolute;
  text-align: center;
  z-index: 100;
  font-size: 1em;
  color: #ff6e00;
}
