/* line 1, /Users/mani/outsourcing/rsct/baymax/baymax/css/lottery */
body {
  margin: 0px;
  background-color: #FFF1CF;
}
/* line 6, /Users/mani/outsourcing/rsct/baymax/baymax/css/lottery */
.joined_value {
  color: #FFE097;
}
/* line 10, /Users/mani/outsourcing/rsct/baymax/baymax/css/lottery */
.joined_label {
  color: #FF942B;
}
@media screen and (max-width: 640px) {
  /* line 15, /Users/mani/outsourcing/rsct/baymax/baymax/css/lottery */
  .joined_value {
    font-size: 26px;
  }
  /* line 18, /Users/mani/outsourcing/rsct/baymax/baymax/css/lottery */
  .joined_label {
    font-size: 14px;
  }
}
@media screen and (max-width: 400px) {
  /* line 23, /Users/mani/outsourcing/rsct/baymax/baymax/css/lottery */
  .joined_value {
    font-size: 22px;
  }
  /* line 26, /Users/mani/outsourcing/rsct/baymax/baymax/css/lottery */
  .joined_label {
    font-size: 14px;
  }
}
@media screen and (max-width: 320px) {
  /* line 31, /Users/mani/outsourcing/rsct/baymax/baymax/css/lottery */
  .joined_value {
    font-size: 22px;
  }
  /* line 34, /Users/mani/outsourcing/rsct/baymax/baymax/css/lottery */
  .joined_label {
    font-size: 14px;
  }
}
/* line 39, /Users/mani/outsourcing/rsct/baymax/baymax/css/lottery */
.bg {
  width: 100%;
}
/* line 43, /Users/mani/outsourcing/rsct/baymax/baymax/css/lottery */
#button_mask {
  background: url(../imgs/lottery_normal.png) no-repeat;
  border: none;
  background-size: contain;
}
/* line 49, /Users/mani/outsourcing/rsct/baymax/baymax/css/lottery */
#button_mask:active {
  background: url(../imgs/lottery_down.png) no-repeat;
  border: none;
  background-size: contain;
}
