body {
  margin: 0px;
  background-color: #FFF1CF;
}
#share_pop {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9;
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
}
.share_content {
  position: absolute;
  width: 90%;
  left: 5%;
}
#share_close {
  left: 20px;
  top: 20px;
  position: absolute;
}
@media screen and (max-width: 2800px) {
  .num {
    font-size: 80px;
  }
}
@media screen and (max-width: 1400px) {
  .num {
    font-size: 40px;
  }
}
@media screen and (max-width: 640px) {
  .num {
    font-size: 16px;
  }
}
@media screen and (max-width: 400px) {
  .num {
    font-size: 14px;
  }
}
@media screen and (max-width: 320px) {
  .num {
    font-size: 12px;
  }
}
.bg {
  width: 100%;
}
