<div class="modal-header">
    <h3 class="modal-title">{{ title }}</h3>
</div>
<div class="modal-body">
    <div class="form-group">
        <label>角色(0普通用户 1分店1管理员)</label>
        <input class="form-control" placeholder="用户角色" ng-model="data.role">
    </div>
</div>
<div class="modal-footer">
    <input type="hidden" name="_csrf" value="{_csrf}"/>
    <button class="btn btn-primary btn-flat" ng-click="ok()">确认</button>
    <button class="btn btn-warning btn-flat" ng-click="cancel()">取消</button>
</div>