<link rel="stylesheet" href="/components/ng-tags-input/ng-tags-input.css"/>

<div style="position: absolute;width: 300px;margin: auto;left: 0;right: 0;"
     ng-show="handling"
     ng-hide="!handling"
        >
    <progressbar class="progress-striped active" value="100" type="success">处理中</progressbar>
</div>

<div>
    <form class="input-group" ng-submit="update('LotteryLimit')">
        <input type="text" class="form-control" ng-model="LotteryLimit.value"
               tooltip="限制每天中奖数"
               tooltip-placement="bottom"
               placeholder="">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="update('LotteryLimit')">更新</button>
                  </span>
    </form>

    <form class="input-group" ng-submit="update('LotteryRatio')">
        <input type="text" class="form-control" ng-model="LotteryRatio.value"
               tooltip="中奖概率"
               tooltip-placement="bottom"
               placeholder="">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="update('LotteryRatio')">更新</button>
                  </span>
    </form>
</div>

<br>
<br>