<link rel="stylesheet" href="/components/ng-tags-input/ng-tags-input.css"/>

<div style="position: absolute;width: 300px;margin: auto;left: 0;right: 0;"
     ng-show="handling"
     ng-hide="!handling"
        >
    <progressbar class="progress-striped active" value="100" type="success">处理中</progressbar>
</div>

<div class="row">
    <h4 class="col-md-4">产品分类</h4>
    <h5 style="position: relative;float: right;color: #cccccc; padding-right: 10px">
        管理外送产品可选分类
    </h5>
</div>
<div>
    <form class="input-group" ng-submit="search()">
        <input type="text" class="form-control" ng-model="CurrentActivity.value"
               tooltip="输入最新一起活动链接"
               tooltip-placement="bottom"
               placeholder="">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="updateURL()">更新</button>
                  </span>
    </form>
</div>

<br>
<br>